<div class="ui bottom attached tab active" data-tab="details">
    <div class="how-pos2 p-lr-15-md">
        <p class="stext-102 cl6 txt-center">
            {{ sonata_block_render_event('sylius.shop.product.show.tab_details', {'product': product}) }}

            {% if product.description is not empty %}
                {{ product.description | raw }}
            {% else %}
                {{ 'sylius.ui.no_description'|trans }}.
            {% endif %}
        </p>
    </div>
</div>
