<div class="bor10 m-t-50 p-t-10 p-b-40">
    <div class="sui">
        <!-- Nav tabs -->
        {% include '@SyliusShop/Product/Show/Tabs/_menu.html.twig' %}

        <!-- Tab panes -->
        {% include '@SyliusShop/Product/Show/Tabs/_content.html.twig' %}
    </div>
</div>