<div class="bitbag-block">
    {{ bitbag_cms_render_content(block) }}
</div>
{% if block.products|length > 0 %}
    <section class="sec-relate-product bg0 p-t-30">
        <div class="container center-layer">
            {% include '@SyliusShop/Product/_horizontalList.html.twig' with {'products': block.products} %}
        </div>
    </section>
{% endif %}
