{% set image = block.translation.page.iamge %}
<div class="col-md-12">
    {% if image != '' %}
        <img src="{{ image.path|imagine_filter('page') }}" alt="{{ block.translation.page.name }}">
    {% endif %}

    <a href="{{ path('bitbag_sylius_cms_plugin_shop_page_show', {'slug': block.translation.page.slug, '_locale': block.translation.taxon.translation.locale}) }}">
        {{ block.translation.page.name }}
    </a>
</div>
{% if block.products|length > 0 %}
    <section class="sec-relate-product bg0 p-t-45 p-b-105">
        <div class="container center-layer">
            {% include '@SyliusShop/Product/_horizontalList.html.twig' with {'products': block.products} %}
        </div>
    </section>
{% endif %}
