<div class="wrap-slick2">
    <div class="slick2">
        {% for product in products %}
            {% include '@SyliusShop/Product/_box.html.twig' %}
        {% endfor %}
    </div>
</div>

<script type="application/javascript">
    var sliderRelatedCallback = function(){

        $('.wrap-slick2').each(function(){
            let slick2Container = $(this).find('.slick2')
            if (slick2Container && typeof slick2Container.slick === 'function') {
                slick2Container.slick({
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    infinite: false,
                    autoplay: false,
                    autoplaySpeed: 6000,
                    arrows: true,
                    appendArrows: $(this),
                    prevArrow: '<button class="arrow-slick2 prev-slick2"><i class="fa fa-angle-left" aria-hidden="true"></i></button>',
                    nextArrow: '<button class="arrow-slick2 next-slick2"><i class="fa fa-angle-right" aria-hidden="true"></i></button>',
                    responsive: [
                        {
                            breakpoint: 1400,
                            settings: {
                                slidesToShow: 4,
                                slidesToScroll: 4
                            }
                        },
                        {
                            breakpoint: 1200,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3
                            }
                        },
                        {
                            breakpoint: 992,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 576,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                });
            }
        });


        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var nameTab = $(e.target).attr('href');
            let slick2Container = $(nameTab).find('.slick2');
            if (slick2Container && typeof slick2Container.slick === 'function') {
                slick2Container.slick('reinit');
            }
        });

    };

    if (document.readyState === "complete"){
        sliderRelatedCallback();
    }else if (document.addEventListener){
        document.addEventListener('DOMContentLoaded', sliderRelatedCallback);
    }else document.attachEvent('onreadystatechange', function(){
        // IE <= 8
        if (document.readyState=='complete'){
            slideRelatedCallback();
        }
    });
</script>
