<div class="ui three wide column">
    <button type="submit" class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10" id="sylius-cart-update"><i class="save icon"></i> {{ 'sylius.ui.update_cart'|trans }}</button>
</div>
