<span class="wrap-rating fs-18 cl11 pointer">
    <i class="item-rating pointer zmdi zmdi-star{% if product.averageRating > 0 %}-outline{% endif %}"></i>
    <i class="item-rating pointer zmdi zmdi-star{% if product.averageRating > 1 %}-outline{% endif %}"></i>
    <i class="item-rating pointer zmdi zmdi-star{% if product.averageRating > 2 %}-outline{% endif %}"></i>
    <i class="item-rating pointer zmdi zmdi-star{% if product.averageRating > 3 %}-outline{% endif %}"></i>
    <i class="item-rating pointer zmdi zmdi-star{% if product.averageRating > 4 %}-outline{% endif %}"></i>
    <input class="dis-none" type="number" name="rating">
</span>
