<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{{ asset('assets/shop/img/portadaAccount.jpg') }}');">
    <h1 class="ltext-105 cl0 txt-center">
        <div class="sui">
            <i class="circular user icon"></i>
        </div>
        {{ 'sylius.ui.customer_login'|trans }}
    </h1>
    <h2 class="ltext-102 cl0 txt-center">
        {{ 'sylius.ui.access_your_store_account_or_create_a_new_one'|trans }}
    </h2>
</section>
