{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<span id="sylius-variants-pricing" class="mtext-106 cl2 f-w-b fs-24" data-unavailable-text="{{ 'sylius.ui.unavailable'|trans }}">
    {% for price in pricing %}
        <div {% for option, value in price %}data-{{ option }}="{% if option == 'value' %}{{ money.convertAndFormat(value) }}{% else %}{{ value|replace({'\"': '\''}) }}{% endif %}" {% endfor %}></div>
    {% endfor %}
</span>