<ul>
    {% if taxons|length > 0 %}
        {% for taxon in taxons %}
            <li class="p-b-10">
                <a href="{{ path('bitbag_sylius_elasticsearch_plugin_shop_list_products', {'slug': taxon.parent.slug, '_locale': taxon.parent.translation.locale}) }}" title="{{ taxon.name }}" class="stext-107 cl7 hov-cl1 trans-04">
                    {{ taxon.name }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
</ul>
