{% macro item(taxon) %}
    {% import _self as macros %}

    {% if taxon.children|length > 0 %}
        <li>
            <a href="#">{{ taxon.name }}</a>
            <ul class="sub-menu">
                {% for childTaxon in taxon.children %}
                    {{ macros.item(childTaxon) }}
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li>
            <a href="#">{{ taxon.name }}</a>
        </li>
    {% endif %}
{% endmacro %}

{% import _self as macros %}

{% if taxons|length > 0 %}
<div class="menu-desktop m-all-4">
    <ul class="main-menu">
        {% for taxon in taxons %}
            {{ macros.item(taxon) }}
        {% endfor %}
    </ul>
</div>
{% endif %}
