{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}HTML Builder {{ parent() }}{% endblock %}

{% block content %}
    <div id="gjs">
        <div class="panel">
            <h1 class="welcome">Welcome to</h1>
            <div class="description">
                This is a demo content from index.html.
            </div>
        </div>
        <style>
            .panel {
                width: 90%;
                max-width: 700px;
                border-radius: 3px;
                padding: 30px 20px;
                margin: 150px auto 0px;
                background-color: #d983a6;
                box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
                color:rgba(255,255,255,0.75);
                font: caption;
                font-weight: 100;
            }

            .welcome {
                text-align: center;
                font-weight: 100;
                margin: 0px;
            }

            .description {
                text-align: justify;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        </style>
    </div>

    <script type="text/javascript">
        const initGrapejs = function() {
            const editor = grapesjs.init({
                showOffsets: 1,
                noticeOnUnload: 0,
                storageManager: { autoload: 0 },
                container: '#gjs',
                fromElement: true,

                plugins: ['gjs-preset-webpage'],
                pluginsOpts: {
                    'gjs-preset-webpage': {}
                }
            });
        };

        if (document.readyState === "complete"){
            initGrapejs();
        }else if (document.addEventListener){
            document.addEventListener('DOMContentLoaded', initGrapejs);
        }else document.attachEvent('onreadystatechange', function(){
            // IE <= 8
            if (document.readyState=='complete'){
                initGrapejs();
            }
        });
    </script>
{% endblock %}
